/* CSS HEX
--dim-gray: #676762ff;
--shadow: #837963ff;
--light-gray: #d6d7daff;
--onyx: #39393aff;
--bistre: #372001ff;
--shadow-2: #837963ff; */

body {
  font: 15px/1.5 "Piazzolla", serif;
  padding: 0;
  margin: 0;
  background-color: #d6d7daff;
}

/* Global sytle*/
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.dark {
  padding: 15px;
  background-color: #372001ff;
  color: #d6d7daff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-1 {
  height: 38px;
  background-color: #837963ff;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}
/*Header Style*/
header {
  background-color: #676762ff;
  color: #372001ff;
  padding-top: 20px;
  min-height: 70px;
  border-bottom: #39393aff 4px solid;
}

header a {
  color: #d6d7daff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header .branding-header {
  float: left;
}
header .branding-header h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 20px;
}

header .highlight,
header .current a {
  color: #837963ff;
  font-weight: bold;
}

/*showcase*/

.main-showcase {
  min-height: 400px;
  background: no-repeat center/100% url(/imgs/homepage.jpg);
  text-align: center;
  color: white; /*Needs to be changed*/
}

.main-showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

.main-showcase p {
  font-size: 25px;
}

/*Newsletter styles*/

.newsletter {
  padding: 15px;
  color: #39393aff;
  background-color: #676762ff;
}

.newsletter h1 {
  float: left;
}

.newsletter form {
  float: right;
  margin-top: 15px;
}

.newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 200px;
}

/*events*/

.events {
  margin-top: 20px;
}

.events .event {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}

.events .event img {
  width: 400px;
}

.event-3 {
  height: 267px;
}

/*sidebar*/
aside.sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside.sidebar .quote input,
aside.sidebar .quote textarea {
  width: 90%;
  padding: 5px;
}

/*article*/
section.main.about {
  background-image: url(/imgs/aboutUs.jpg);
  background-size: 100% 100%;
}
article.main-col {
  float: left;
  width: 65%;
}

/*services*/
ul.services li {
  list-style: none;
  padding: 20px;
  border: 1px solid grey;
  margin-bottom: 5px;
  background-color: #39393aff;
  color: #d6d7daff;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: white;
  background-color: rgb(170, 115, 12);
  text-align: center;
}

/*Media Queries*/
@media (max-width: 768px) {
  header .branding-header,
  header nav,
  header nav li,
  .newsletter h1,
  .newsletter form,
  .events .event,
  article.main-col,
  aside.sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }

  header {
    padding-bottom: 20px;
  }

  .showcase h1 {
    margin-top: 40px;
  }

  .newsletter button,
  .touch button {
    display: block;
    width: 100%;
  }

  .newsletter form input[type="email"],
  .touch input,
  .touch textarea {
    width: 100%;
    margin-bottom: 5px;
  }
}
